<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyecue.inapp">

    <application>
        <activity
            android:name=".BuyCreditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_buy_credit"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>